# Environment
.env
.env.*
!.env.example

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Podfile.lock

# macOS
macos/Pods/
macos/Flutter/ephemeral/

# Android
android/.gradle/
android/local.properties

# Xcode
DerivedData/
*.xcuserstate
**/xcuserdata/

# IntelliJ / VSCode
.idea/
.vscode/

# OS
.DS_Store
